* {
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: 500;
}
p {
  padding: 0;
  margin: 0;
}
input {
  outline: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 42px;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #999;
}

input[type="radio"]:checked + label {
  border: 2px solid #8b7ec8;
}

.marker__wrapper {
  width: 100%;
  display: inline-block;
  padding: 16px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 16px 16px;
}

.marker__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.marker__form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.marker__type {
  display: flex;
  gap: 12px;
}

.maker__search {
  width: 100%;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #999;
  padding: 8px;
}

.maker__search:focu {
  width: 100%;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #999;
  padding: 8px;
}

.submit__btn {
  width: 100%;
  height: 42px;
  color: #fff;
  background-color: #8b7ec8;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit__btn.loading .loader {
  display: block;
}
.submit__btn.loading > span {
  display: none;
}
.loader {
  display: none;
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
.nickname__result {
  margin: 32px 0px;
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 16px;
}
